{
  "plugins": [
    "filenames",
    "react"
  ],
  "extends": [
    "airbnb"
  ],
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "es6": true
  },
  "rules": {
    "strict": 0,
    "quotes": [1, "single"],
    "jsx-quotes": 0,
    "indent": [2, 2, {"SwitchCase": 1}],
    "no-invalid-this": 0,
    "react/jsx-closing-bracket-location": [2, "after-props"],
    "react/jsx-boolean-value": 0,
    "react/jsx-space-before-closing": 0,
    "react/jsx-no-bind": 0,
    "react/sort-comp": 0,
    "valid-jsdoc": 0,
    "prefer-spread": 0,
    "comma-dangle": 0,
    "arrow-body-style": 0,
    "no-param-reassign": 0
  },
  "globals": {
    "require": true
  }
}
